@import 'tailwindcss';

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@theme {
  --font-sans: 'Montserrat', 'sans-serif';
  --color-dark: rgb(1, 22, 56);
  --color-space-cadet: rgb(46, 41, 78);
  --color-purpureus: rgb(144, 85, 162);
  --color-lilac: rgb(212, 153, 185);
  --color-bright: rgb(232, 193, 197);
}

html {
  background-color: rgb(46, 41, 78);
}

input::placeholder {
  font-family: Montserrat, sans-serif;
  color: rgb(144, 85, 162);
}

input:focus {
  outline: none;
}
